.form {
    font-family:inherit;
    font-weight: inherit;
    width: 100%;    
}



.form__group{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.input__file{
    font-size: 2.75vh;
    font-weight: 200;
    letter-spacing: 1px;
}

.suggestions__list{
    position: absolute;
    width: 100%;
    top: calc(100% - 1rem);
    z-index: 10;
}

.suggestions__list--item{
    text-align:center;
    padding: .5rem;
    border-bottom: 1px solid gray;
    background-color: #303030;
    text-transform: lowercase;
    cursor:pointer; 
}

.suggestions__list--item:hover{
    background-color: #505050;
}

.suggestions__list--item:active{
    background-color: #808080;
    
}

.suggestions__list--item,
.suggestions__list--item:hover,
.suggestions__list--item:active{
    transition: background-color .100s ease; 
}

.input__list,
.input__file--label,
.input__text,
.input__search{
    border-bottom: 1px solid #808080;
    width: 100%;
    padding-bottom: 1vh;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
    color: white;
    font-family: "Oswald";
    font-size: 1.125rem;
    font-weight: 200;
    letter-spacing:1px;
}

.input__search{
    width: 82%;
}

.input__search--icon{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 2rem;
    cursor: pointer;
}

.input__search--icon svg{
    pointer-events: none;
}

.input__search::placeholder,
.input__text::placeholder{
    color:white;
    text-transform: uppercase;
    font-weight: 400;
}

.form__label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__label,
.form__title{
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 1vh;
    font-weight: 400;
    font-size: 1.125rem;
}

.bottom-block .btn,
.form__group .btn,
.form .btn{
    height:28px;
    background-color: #606060;
    color: #fff;
    font-size: .75rem;
    font-weight: 100;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    box-shadow: 0 2px 4px #303030;
    border-radius: 6vh;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .1s ease,-webkit-transform 50ms ease;
    transition: background-color .1s ease,transform 50ms ease;
    transition: background-color .1s ease,transform 50ms ease,-webkit-transform 50ms ease;
}

.dropdown__container{
    position:relative;
    display: flex;
    flex-direction: column;
    width:70%;
    border-bottom: 1px solid #ababab;
    height: 30px;
}

.dropdown__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__title{
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1rem;
}

.dropdown__icon{
    display: flex;
    align-items: center;
    height: 80%;
    cursor:pointer;
}

.dropdown__icon svg{
    font-size: 1.75rem;
    transform-origin: center;
    transition: transform .2s ease;
}

.dropdown__icon svg.reverse{
    transform:rotateZ(180deg);
    transition: transform .2s ease;
}

.dropdown__content{
    pointer-events: none;
    width:100%;
    background-color: #505050;
    box-shadow: 0 0 4px #303030;
    opacity:0;
    transition: opacity .2s ease;
    z-index: 20;
}

.dropdown__content.open{
    opacity:1;
    pointer-events: auto;
    cursor: pointer;
    transition: opacity .2s ease;
}

.dropdown__item{
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1rem;
    padding: .5rem 1rem;
    transition: background-color .2s ease;
}

.dropdown__item:hover{
    background-color: #101010;
    transition: background-color .2s ease;
}

.dropdown__item:not(:last-child){
    border-bottom: 1px solid #ababab;
}

.card__type .bottom-block .btn:hover,
.form .btn:hover{
    background-color: #505050;
}

.card__type .bottom-block .btn:active,
.form .btn:active{
    transform: translateY(-2px) scale(1.04);
}

.card__type .bottom-block .btn:active:hover,
.form .btn:active:hover{
    background-color: #606060;
}