.list{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 90%;
    height: calc(78.5vh - var(--navbar-height) - var(--header-height) - 6.5vh);
    padding: .5rem 0 0 0;
}

.list .list__item{
    width:30%;
    cursor: pointer;
    margin-bottom: .5rem;
    margin-right: 3%;
}