.decks.page {
	justify-content: flex-start;
}

.decks__list--container{
    width: 90%;
    max-height: 67vh;
    margin-top: calc((var(--header-height) + 5vh));
    overflow-y: scroll;
}


.decks .heading__pseudo,
.decks .heading__counter{
    width:35%;
}
