.profile__page{
    min-height:100%;
    padding:0 2rem;
    padding-top: var(--header-height);
}

.profile__page.page{
    justify-content: flex-start;
}

.profile__page .avatar__block{
    margin-top:5vh;
    margin-bottom:10vh;
}

.profile__page .avatar__block{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
}

.profile__page .loader__block{
    background-color: transparent;
}

.profile__page .loader__block .loader {
    width:60px;
    height:60px;
}

.profile__page .popup{
    background-color: #570000;
}

.profile__page .popup .popup__button#confirm{
    background-color:black;
}

.profile__page .popup .popup__button#cancel{
    background-color:white;
    color:black;
}

.profile__page .form__label .loader__block,
.profile__page .avatar__block .form__label,
.profile__page .avatar,
.profile__page .avatar .default{
    width:100%;
    height:100%;
}

.profile__page .avatar__block .form__label{
    margin-bottom: 1rem;
    cursor: pointer;
}

.profile__page .avatar .default path{
    stroke-width: 1;
}

.profile__page .user__id{
    color:white;
}

.profile__page .input__text{
    text-align: center;
}

.profile__page .toolbox .toolbox__row{
    height: 42%;
}

.profile__page  .popup{
   padding:1rem; 
}

.profile__page  .popup__text{
    margin-bottom:1rem;
}