.heading{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    height: var(--header-height);
    background-color: #222;
}

.heading,
.heading .container{
    display: flex;
    justify-content: center;
    width:100%;
    color: white;
}

.heading__pseudo,
.heading__counter{
   width: calc(90% / 2 - 6vh);
   font-size: 2.75vh;
}

.heading__pseudo{
    text-align: left;
}

.heading__counter{
    text-align: right;
}

.heading__logo{
    height: 8vh;
    width: 8vh;
}