.page.decks{
    height: 100%;
    padding:0 2vh;
}

.decks .heading{
    display: flex;
    justify-content: space-between;
    padding:2vh 1.25rem;
    color: white;
}

.decks .heading > *
{
    display:flex;
    align-items: center;
    width:35%;
    font-size: 2vh;
    font-weight: 700;
}

.decks .heading .heading__counter{
    justify-content: flex-end;
}

.decks .heading .heading__logo{
    height: 10vh;
    width:10vh;
}