.decks{
    height: 100%;
}

.decks .heading{
    display: flex;
    justify-content: space-between;
    width:100%;
    color: white;
}

.decks .heading > *
{
    display:flex;
    align-items: center;
    width:35%;
    font-size: 2vh;
    font-weight: 700;
}

.decks .heading .heading__counter{
    justify-content: flex-end;
}

.decks .heading .heading__logo{
    height: 11vh;
    width:11vh;
}