.decks{
    height: 100%;
}

.decks .heading{
    display: flex;
    justify-content: center;
    width:100%;
    color: white;
}


.decks .heading__pseudo,
.decks .heading__counter{
    width:35%;
}

.decks .heading__pseudo{
    text-align: left;
}

.decks .heading__counter{
    text-align: right;
}

.decks .heading__logo{
    height: 11vh;
    width:11vh;
}