.deck{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    height: 24vh;
}

.deck__body{
    display: flex;
    justify-content: space-between;
    height:42%;
    padding: .75rem;
    border-radius: 0 0 7px 7px;
    color: white;
}

.deck__name{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.75px;
}

.energy__average{
    font-weight:300;
}

.deck__name,
.energy__average{
    font-size:1.125rem;
}


.deck__energy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}