.deck{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-color: #151515;
    border-radius: 8px;
    height: 24vh;
    margin-bottom: 3vh;
}

.deck__body .icon{
    width: 7vh;
    height: 80%;
}

.deck__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .75rem;
    border-radius: 0 0 7px 7px;
    color: white;
    height: 40%;
}

.deck__name{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 0 1px 7px #101010;
    font-size: 3vh;
}


.deck__energy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12%;
}

.energy__title{
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 0 1px 4px black;
}

.energy__average{
    font-weight:100;
    font-size: 2vh;
    text-shadow: 0 1px 4px black;
}

.deck__heading{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #808080;
    letter-spacing: 3px;
    font-size: 6vw;
    font-weight: 500;
}