.page__deck.container{
    margin-top:var(--header-height);
    width: 100%;
    height: calc(100% - 8vh);
    justify-content: flex-start;
}

.page__deck .list__container{
    width: 90%;
}


.page__deck .deck__infos{
    font-family: "Oswald";
    width: 50%;
    margin-bottom: 3vh;
}

.page__deck .deck__infos--group{
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 0.9;
}

.page__deck .deck__infos--group:not(:last-child){
    margin-bottom: 2vh;
}

.page__deck .deck__infos--name{
    margin-right: 2vw;
    color: white;
    font-size: 2.25vh;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}

.page__deck .deck__infos--kingdom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:50%;
    cursor: pointer;
}

.page__deck .deck__infos--kingdom img,
.page__deck .deck__infos--kingdom svg{
    pointer-events: none;
}

.page__deck .deck__infos--visibility{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:50%;
}

.page__deck .deck__infos--visibility .icon{
    font-size: 3.5vh;
    cursor:pointer;
    pointer-events: auto;
}

.page__deck .deck__infos--visibility .icon.is-visible{
    color: var(--success);
    stroke: var(--success);
}

.page__deck .deck__infos--visibility .icon.is-hidden{
    color: var(--error);
    stroke: var(--error);
}

.page__deck .deck__infos--visibility .icon:not(:last-child){
    margin-right: 8%;
}

.page__deck .deck__infos--kingdom .icon{
    height: 5.5vh;
    margin-right: 2vw;
}

.page__deck .deck__infos--icon{
    color: #707070;
    font-size: 2.25vh;
}

.page__deck .deck__infos--icon,
.page__deck .deck__infos--icon path{
    pointer-events: none;
}

.page__deck .list__item:not(:last-child){
    margin-bottom: 2.25vh;
}

.page__deck .sub__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.25vh;
}

.page__deck .sub__list--item{
    width: 48%;
    margin-bottom: 0;
}

.page__deck .list__item,
.page__deck .sub__list--item{
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.page__deck .list__item .list__item--text,
.page__deck .sub__list--item .list__item--text{
    text-transform: uppercase;
    text-align:left;
    font-size: 2.25vh;
    border-bottom: 1px solid #707070;
    line-height: 1.125;
    width: 88%;
}

.page__deck .sub__list--item .list__item--text{
    width:75%;
}

.page__deck .list__item svg.icon,
.page__deck .sub__list--item svg.icon
{
   color: #505050;
   stroke: #505050;
   font-size: 4vh;
}