.navbar{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color: #222222;
	border-top: 1px solid white;
}

.navbar .menu__link{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.navbar .menu__link .icon {
	font-size: 4vh;
}

.navbar svg.icon path{
	color:white;
	stroke: white;
}

