.card__list{
    display:grid;
    background-color: var(--white);
    width:100%;
    height: calc(65 * var(--vh));
    grid-template-columns: repeat(3,1fr);
    overflow-y:scroll;
    gap:12px 16px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    padding:1rem 1rem;
}

.card__list::after{
    content:"";
    height:.1rem;
}

