.deck__block{
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color:var(--dark-grey);
    margin:0 auto;
    padding:.5rem 1.5rem;
    min-height: 100px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}


.deck__inner--left{
    width: 60%;
    margin-right:1.5rem;
}

.deck__inner--right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:25%;
}
.inner__right--text{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.deck__ec--title{
    font-size: 1.125rem;
    margin-right: 1rem;
}

.deck__ec--value{
    font-size: 1.25rem;
}

.deck__infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.inner__right--actions{
    display: flex;
    justify-content: space-between;
    height:30%;
    width: 100%;
}

