.form{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    width:70%;
    max-width: 400px;
    border-radius: 4px;
    padding: 2rem 2rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:white;
    box-shadow: 0 0 20px -5px #acacac;
}

.form--input:not(:last-of-type) {
    margin-bottom: 1.25rem;
}

.form--title{
    font-size:115%;
    color: #454545;
    margin-bottom:1rem;
}

.form--link{
    margin-left:.25rem;
    color:#454545;
    font-size: 1rem;
    margin-bottom: 1.75rem;
}

.remember{
    margin:.5rem 0 2rem 0;
    line-height: 1rem;
    color: var(--dark-grey);
}

.remember__checkbox{
    margin-right:.5rem;
    margin-left : .125rem;
}