.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.menu__item{
    color:#e63333;
}

.menu__item:first-child{
    margin-right: 2rem;
}

.menu__item:last-child{
    margin-left: 2rem;
}

.menu__logo{
    height: 88px;
}