.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.menu__item{
    display: flex;
    align-items: center;
    color:#d4d4d4;
    text-shadow: 0px 0px 4px #369200;
    font-size: 1.25rem;
    font-weight: 600;
}


.menu__item:first-child,.menu__connect--item:first-child{
    margin-right: 2rem;
}

.menu__item:last-child{
    margin-left: 2rem;
}

.menu__logo{
    height: 14vw;
}

.menu__connect{
    display: flex;
}

.menu__connect--link{
    color: var(--white);
}

@media screen and (min-width: 480px){
    .menu__logo{
        height: 10vw;
    }
}

@media screen and (min-width: 640px){
    .menu__logo{
        height: 8vw;
    }
}

@media screen and (min-width: 920px){
    .menu__logo{
        height: 6vw;
    }
}

@media screen and (min-width: 1240px){
    .menu__logo{
        height: 4vw;
    }
}