:root{
  --black : #101010;
  --dark-grey : #202020;
  --grey: #404040;
  --light-grey: #606060;
  --dark-white : #afafaf;
  --white : #dfdfdf;
}

html{
  color:var(--white);
  height: -webkit-fill-available;
}

html,body,div,p,h1,h2,h3,h4,ul,li,a,figure,button,input{
  margin:0;
  padding: 0;
  border:0;
  box-sizing: border-box; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;

  min-height: -webkit-fill-available;
  background-color: var(--white);
  overflow: hidden;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:667px;
}

li{
  list-style-type: none;
}

a {
  text-decoration:none;
}

input{
  padding: .65rem .75rem;
  border-radius:3px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
  border:2px solid rgba(47, 168, 248, 0.445);
  outline: none;
  transition: 45ms;
  -webkit-transition: 45ms;
  -moz-transition: 45ms;
  -ms-transition: 45ms;
  -o-transition: 45ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Utilities */

.title{
  text-align:center;
  color:var(--dark-grey);
}

.d-inline{
  display: inline;
}

.d-none{
  display: none;
}

.page-container{
  padding:3rem 0;
  height:calc(100vh - 98px);
  width:100%;
}

.btn{
  margin:0 auto 1.5rem auto;
  padding:4vw 0;
  font-family: Helvetica,sans-serif;
  font-size:4vw;
  font-weight: 600;
  letter-spacing: 1px;
  color:rgb(46, 46, 46);
  width: 80%;
  background-color: var(--dark-grey);
  color: var(--dark-white);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 20px -5px #8f8f8f;
  text-transform:uppercase;
}

.btn-success{
  background-color:#89ec2c;
}

.message {
  width: auto;
  padding:1rem;
  color: #444444;
  margin-top: 1.75rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 20px -5px #c7c7c7;
}

.info{
  background-color:rgba(255, 255, 0, 0.582);
  border: 2px solid yellow;
}

.success{
  background-color:rgba(80, 231, 42, 0.582);
  border: 2px solid rgba(0, 128, 0, 0.137);
}

.danger{
  background-color:rgba(231, 48, 42, 0.582);
  border: 2px solid rgba(231, 48, 42, 0.151);
}

.h-0{
  height:0 !important;
  transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
}

/* Media queries */

@media screen and (min-width: 480px){

}

@media screen and (min-width: 640px){
  .btn{
      padding:1.5vw 0;
      font-size:3vw
  }
}

@media screen and (min-width: 920px){
  .btn{
    padding:1.125vw 0;
    font-size:2.25vw
  }
}

@media screen and (min-width: 1240px){
  .btn{
    padding:.6vw 0;
    font-size:1.25vw
  }
}

@media screen and (min-width: 1620px){
  .btn{
    padding:.5vw 0;
    font-size:1vw
  }
}

/* Transitions Effects */

.fade-out{
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
}


.move-down{
  position:absolute;

  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}


