:root{
  --error : #ff5d5d;
  --done: rgb(59, 231, 59);
  --black : #101010;
  --dark-grey : #202020;
  --grey: #404040;
  --light-grey: #606060;
  --dark-white : #afafaf;
  --white : #efefef;
  --inner-height: 100vh;
  --vh: 100;
}

html{
  color:var(--white);
  height: -webkit-fill-available;
}

html,body,div,p,h1,h2,h3,h4,ul,li,a,figure,button,input,form{
  margin:0;
  padding: 0;
  border:0;
  box-sizing: border-box; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: -webkit-fill-available;
  background-color: var(--white);
  overflow: hidden;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:calc(100 * var(--vh));
}

li{
  list-style-type: none;
}

a {
  text-decoration:none;
}

/*Components*/

.header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding: 3vh 9% 2vh 9%;
  text-align: center;
  color: var(--grey);
  background-color: #afafaf;
  z-index:10;
}

.header .header__inner--right{
  width: 22%;
}

.footer{
  display:flex;
  align-items: flex-start;
  background-color: #202020;
  background-color: var(--dark-grey);
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  height: calc(11 * var(--vh));
  transition: height 800ms ease;
  -webkit-transition: height 800ms ease;
  -moz-transition: height 800ms ease;
  -ms-transition: height 800ms ease;
  -o-transition: height 800ms ease;
}

button:hover{
  cursor:pointer;
}

input{
  padding:0 0 .65rem 0;
  margin-bottom:1rem;
  border-radius:3px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
  color:var(--dark-grey);
  outline: none;
  transition: 45ms;
  -webkit-transition: 45ms;
  -moz-transition: 45ms;
  -ms-transition: 45ms;
  -o-transition: 45ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.social__icons--list{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width:80%;
  margin:0 auto;
}

.google__icon{
  font-size: 1.5rem;
}

.facebook__icon{
  font-size: 1.25rem;
}

.page{
  display:block;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  text-align:center;
}

.page--container{
  position: relative;
  height: calc(65 * var(--vh));
  width:100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* popup */

.popup__container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-color:rgba(46, 46, 46, .95);
  z-index: 30;
  overflow-y: scroll;
}

.popup__close{
  position:relative;
  width: 4vh;
  height: 4vh;
}

.popup__close svg{
  width: 100%;
  height: 100%;
  color:rgb(59, 231, 59);
}

.popup__title{
  margin: 2vh 0;
}

.popup__option--name{
  margin: 2vh 0;
}

.popup__option--input{
  margin: 0 2vh 0 0;
}

.popup__form--section{
  width: 80%;
  margin: 0 auto;
}

.popup__option--container{
  display: flex;
  justify-content: space-between;
  margin: 1vh auto;
  width: 85%;
}

.popup__option--name{
  text-align: left;
}

.btn.popup__button{
  margin: 2vh auto;
  background-color:rgb(59, 231, 59);
  color: var(--dark-grey);
  padding:3vw 0;
}

/* profile page */

.profile__page{
  display: block;
  width: 100%;
  height: 90vh;
  padding-bottom: 10vh;
  overflow-y: scroll;
} 

.profile__heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:var(--dark-grey)
}

.profile__avatar{
  font-size:20vh;
}

.profile__username{
  font-size:3.5vh;
}

.profile__userid{
  font-size:3vh;
}

.deck__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
  margin-bottom: 2rem;
}

.deck__list--empty{
  text-align: center;
  color: #202020;
}

.buttons__block{
  display: flex;
  flex-direction:column;
  margin:0 auto;
  width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width:100%;
  padding:10vh 0 4vh 0rem;
}

.form--container{
  width:100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.form--input{
  outline:none;
  margin-bottom: 2vh;
  background-color: var(--white);
  font-size: 1.125rem;
  color:var(--dark-grey);
  border:none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--dark-grey);
}

.form__label{
  color: var(--dark-grey);
  padding-bottom: .25rem;
}

.form__checkbox{
  margin:0 1vh 0 0;
  
}

.form--input:last-child{
  margin-bottom:4vh;
}

.form__radio--button{
  line-height: 1.125;
  margin-right: 1rem;
}

.form__radio--label{
  margin-right: .5rem;
  color:var(--dark-grey);
}

.form--input:focus{
  border:none;
  outline:none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--dark-white);
  color:var(--white);
}

.form--section{
  display: flex;
  flex-direction:column;
  width: 80%;
}

.form--section:last-of-type{
  margin-bottom:calc(2 * var(--vh));
}

.form__section--title{
  margin-bottom: .75rem;
  font-size: 2.75vh;
  color:var(--dark-grey);
}

.form--separator{
  line-height:0.1rem;
  background-color: #bbbbbb;
  text-align: center;
  width:80%;
  margin:2rem auto;
}

.form--separator-text{
  position:relative;
  top: -3px;
  padding:0 20px;
  color: var(--dark-grey);
  background-color: var(--white);
}

.search__bar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 1rem;
  color:var(--grey);
  width: 98%;
}

.search__bar--input{
  margin: 0;
  padding: .75rem 8vh .75rem .75rem;
  font-size: 3vh;
  width:100%;
  border: 1px solid var(--dark-white);
  background-color: transparent;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  text-align: center;
}

.search__bar--icon{
  position: absolute;
  right: 1.5rem;
  font-size:5.5vh;
  z-index:1;
  cursor: pointer;
}


.action {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size:1.25rem;
  color:var(--white)
}

/* drop down component */

.dropdown__menu{
  color:var(--white);
  width:80%;
  margin: 0 auto;
}

.dropdown__draw{
  background-color:#151515;
  font-size: 4vh;
  margin-bottom:1rem;
}


.dropdown__link{
  display: block;
  padding-top:1rem;
  margin-bottom:.5rem;
  height: 50px;
  color: var(--white);
  font-size: calc(3 * var(--vh));
  margin-left:1rem;
}

.dropdown__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:0;
  height:0;
  overflow: hidden;
  transition:min-height 1s ease;
  -webkit-transition:min-height 1s ease;
  -moz-transition:min-height 1s ease;
  -ms-transition:min-height 1s ease;
  -o-transition:min-height 1s ease;
  background-color: #404040;
}

.dropdown__content{
  width: 100%;
  padding:0 1rem;
  margin-bottom:.75rem;
  font-size: calc(1.75 * var(--vh));
}

.dropdown__cta--box{
  display: flex;
  justify-content: space-between;
  padding:0 1rem;
  width:100%;
}

.dropdown__icon{
  cursor: pointer;
}

svg.dropdown__icon path{
  stroke:var(--white);
}

.dropdown__draw:target .dropdown__body{
  min-height: calc(12 * var(--vh));
  transition:min-height 1s ease;
  -webkit-transition:min-height 1s ease;
  -moz-transition:min-height 1s ease;
  -ms-transition:min-height 1s ease;
  -o-transition:min-height 1s ease;
  padding:.25rem;
}

/* pagination component */

.pagination__block{
  width: 80%;
  font-size: 1.25rem;
}

.pagination__text--block{
  width : 35%;
  line-height: 1.25;
}

.pagination__text{
  color: var(--black);
  cursor: pointer;
}

.pagination__arrow{
  color:var(--black);
  cursor: pointer;
}

/* filters */
.filter__container{
  width: 90%;
  color:var(--black);
  cursor: pointer;
  height: 4vh;
  z-index: 1;
}

.filter__container svg{
  height: 100%;
  width: 4vh;
}

/* decks list*/
.list__content{
  height:calc(var(--vh) * 50); 
}

/* deck */

.deck__block{
  display: flex;
  justify-content: center;
  width:100%;
  background-color:var(--dark-grey);
  margin:.5vh auto;
  padding:.5rem 1.5rem;
  min-height: 100px;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  -o-border-radius:2px;
}


.deck__inner--left{
  width: 60%;
  margin-right:1.5rem;
}

.deck__inner--right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:30%;
}
.inner__right--text{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

.deck__ec--title{
  font-size: 1.125rem;
  margin-right: 1rem;
}

.deck__ec--value{
  font-size: 1.25rem;
}

.deck__infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40%;
}

.inner__right--actions{
  display: flex;
  justify-content: space-between;
  height:30%;
  width: 100%;
}

/* avatar */

.avatar, .logout{
  height:4vh;
  width: 4vh;
}

.avatar svg, .logout svg {
  width: 100%;
  height: 100%;
}

/* Utilities */

.row{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-start{
  justify-content: flex-start;
}

.my-1{
  margin: 1vh 0 !important;
}

.my-2{
  margin: 2vh 0 !important;
}

.my-3{
  margin: 3vh 0 !important;
}

.my-4{
  margin: 4vh 0 !important;
}

.my-5{
  margin: 5vh 0 !important;
}

.my-6{
  margin: 6vh 0 !important;
}

.mb-1{
  margin-bottom: 1vh !important;
}
.mb-2{
  margin-bottom: 2vh !important;
}
.mb-3{
  margin-bottom: 3vh !important;
}
.mb-4{
  margin-bottom: 4vh !important;
}
.mb-5{
  margin-bottom: 5vh !important;
}
.mb-6{
  margin-bottom: 6vh !important;
}

.mt-1{
  margin-top: 1vh !important;
}
.mt-2{
  margin-top: 2vh !important;
}
.mt-3{
  margin-top: 3vh !important;
}
.mt-4{
  margin-top: 4vh !important;
}
.mt-5{
  margin-top: 5vh !important;
}
.mt-6{
  margin-top: 6vh !important;
}

.good__input,
.good__input:focus{
  border-bottom: 2px solid var(--done);
}

.bad__input,
.bad__input:focus{
  border-bottom: 2px solid var(--error);
}

.message__flash{
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width:80%;
  z-index: 10;
  font-size: .85rem;
  opacity:0;
  font-size: 1rem;
  text-align: center;
  margin:0 auto;
  padding: 0.5rem 1rem;
  color: var(--black);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 20px -5px #8f8f8f;
  transition:all .75s ease;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.message__flash-done{
  opacity:.7;
  background-color: var(--done);
  transition:all .30s ease;
  -webkit-transition:all .30s ease;
  -moz-transition:all .30s ease;
  -ms-transition:all .30s ease;
  -o-transition:all .30s ease;
}

.message__flash-error{
  opacity:.7;
  background-color: var(--error);
  transition:all .30s ease;
  -moz-transition:all .30s ease;
  -ms-transition:all .30s ease;
  -o-transition:all .30s ease;
  -webkit-transition:all .30s ease;
}

.title{
  text-align:center;
  color:var(--dark-grey);
}

.d-inline{
  display: inline;
}

.d-none{
  display: none;
}

.btn{
  margin:.5rem auto;
  padding:4vw 0;
  font-family: Helvetica,sans-serif;
  font-size:4vw;
  font-weight: 600;
  letter-spacing: 1px;
  color:rgb(46, 46, 46);
  width: 80%;
  background-color: var(--dark-grey);
  color: var(--dark-white);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 20px -5px #8f8f8f;
  text-transform:uppercase;
}


.add__button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;

}

.add__button svg path {
  stroke-width: 1px;
}

.btn-success{
  background-color:#89ec2c;
}

.message {
  width: auto;
  padding:1rem;
  color: #444444;
  margin-top: 1.75rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 20px -5px #c7c7c7;
}

.page__test{
  text-align:center;
  color:rgb(46, 46, 46);
}

.info{
  background-color:rgba(255, 255, 0, 0.582);
  border: 2px solid yellow;
}

.success{
  background-color:rgba(80, 231, 42, 0.582);
  border: 2px solid rgba(0, 128, 0, 0.137);
}

.danger{
  background-color:rgba(231, 48, 42, 0.582);
  border: 2px solid rgba(231, 48, 42, 0.151);
}

.h-0{
  height:0 !important;
  transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
}

.block{
  text-align:center;
  margin: calc(16 * var(--vh)) 0;
}

.v-center{
  align-items: center;
}

/* Layouts */
.layout{
  display:grid;
  position: relative;
  background-color: var(--white);
  width:90%;
  overflow-y:scroll;
  gap:12px 16px;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  padding:1rem 1rem;
}

.layout::after{
  content:"";
  height:.1rem;
}

.layout__1{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.layout__2{
    grid-template-columns: repeat(2,1fr);
}


.layout__3{
    grid-template-columns: repeat(3,1fr);
}


.layout__4{
  grid-template-columns: repeat(4,1fr);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top:6vh;
  margin-bottom: 8vh;
}

/* Media queries */

@media screen and (min-width: 480px){

}

@media screen and (min-width: 640px){
  .btn{
      padding:1.5vw 0;
      font-size:3vw
  }
}

@media screen and (min-width: 920px){
  .btn{
    padding:1.125vw 0;
    font-size:2.25vw
  }
}

@media screen and (min-width: 1240px){
  .btn{
    padding:.6vw 0;
    font-size:1.25vw
  }
}

@media screen and (min-width: 1620px){
  .btn{
    padding:.5vw 0;
    font-size:1vw
  }
}

/* Transitions Effects */
.fade-out{
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
}


.move-down{
  position:absolute;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}