:root{
  --dark-grey : #202020;
  --white : #dfdfdf;
}

html{
  color:var(--white);
}

html,body,div,p,h1,h2,h3,h4,ul,li,a{
  margin:0;
  padding: 0;
  border:0;
  box-sizing: border-box; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

li{
  list-style-type: none;
}

a {
  text-decoration:none;
}

#root{
  width: 100%;
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
