.footer{
    display:flex;
    align-items: center;
    position:relative;
    height: 8vh;
    transition: height 800ms ease;
    -webkit-transition: height 800ms ease;
    -moz-transition: height 800ms ease;
    -ms-transition: height 800ms ease;
    -o-transition: height 800ms ease;
}