.footer{
    display:flex;
    align-items: flex-start;
    background-color: var(--dark-grey);
    position:relative;
    height: calc(10vh + 48px);
    transition: height 800ms ease;
    -webkit-transition: height 800ms ease;
    -moz-transition: height 800ms ease;
    -ms-transition: height 800ms ease;
    -o-transition: height 800ms ease;
}